<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/project_page.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        body {
            background-color: #f8f9fa; /* Light background for better contrast */
        }
        .container {
            margin-top: 50px; /* Space from the top */
        }
        .card {
            margin-bottom: 20px; /* Space between cards */
        }
        .icon {
      width: 50px;
      height: 50px;
      margin: 20px;
      cursor: pointer;
    }
    </style>
</head>
<body>
    <img src="../static/images/before.png" alt="Folder Icon" class="icon" onclick="previous_page()">
<div class="container">
    <h1 class="text-center">Project Dashboard</h1>
    <div class="card" id="uploadbox">
        <div class="card-body">
            <h5 class="card-title text-center">Upload Images</h5>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="fileUpload">select all images in a folder:</label>
                    <input type="file" name="files" id="fileUpload" accept="image/*" multiple required class="form-control-file">
                </div>
                <div class="text-center">
                    <input type="submit" value="Upload" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="card-body">
           <h3>upload images to cloud</h3>
        </div>
    </div>
</div>

</body>
</html>
